doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Reload
        h4 M.Arifin
        h4 Muhammad Shufi
        h4 Sindhu Bairewi
        h4 Weny S Panjaitan

      section
        h2 Judul Presentasi
        p Artikel

      section
        h2 Pembahasan Pertama
        P Artikel
        
      section
        h1 Auto Parking
        h2 Pegenalan
        h3 Dewasa ini jumlah alat transportasi semakin bertambah. Hal ini membuat lahan parkir alat transportasi tersebut semakin sempit.
        h3 Kasus ini sering terjadi pada kota-kota yang sudah padat akan penduduknya serta tinggi kerapatan bangunannya
        h3 Salah satu solusi alternatif untuk memecahkan masalah di atas adalah dengan pembuatan sistem parkir mobil otomatis
        h3 Sistem parkir otomatis bertujuan untuk meningkatkan kenyamanan dan keamanan berkendara di lingkungan dibatasi di mana banyak perhatian dan pengalaman yang diperlukan untuk mengarahkan mobil.
        
      section
        h2 Sistem Parkir Otomatis
        h3 Di samping dapat menghemat tempat, sistem parkir mobil otomatis ini juga dapat mengurangi tingkat kemacetan yang terjadi tentunya sangat berpotensi besar dalam pembuatan sistem parkir otomatis ini

      section
        h2 Sistem Parkir Otomatis
     
		ul
          
          li a.Smart Parkir System (SPS) yang diusulkan untuk membantu pengemudi untuk menemukan ruang kosong di parkir mobil dalam waktu singkat. Sistem parkir ini menggunakan sensor ultrasonik (USG) untuk mendeteksi parkir hunian atau tindakan yang tidak tepat di tempat parkir. SPS termasuk parkir kosong deteksi ruang, deteksi parkir yang tidak tepat, tampilan ruang parkir yang tersedia, dan indikator arah menuju ruang parkir kosong, fasilitas pembayaran dan berbagai jenis ruang parkir melalui penggunaan khusus LED 
          li b.Sistem Manajemen berbasis teknologi jaringan sensor nirkabel yang menyediakan fitur-fitur canggih seperti monitoring parkir yang jauh dan bimbingan otomatis. Di sistem sini diusulkan sebuah software yang menggunakan jaringan sensor nirkabel untuk pengelolaan sistem parkir tanpa masuk ke tempat parkir. Status Parkir dapat diketahui oleh pengemudi di pintu masuk tempat parkir saja. Itu berarti seorang  pengemudi mobil bisa mengetahui apakah tempat parkir mobil tersedia di tempat parkir atau tidak tanpa masuk ke tempat parkir dengan mengamati ruang parkir.[
		
      section
        h2 Kebutuhan Antarmuka Eksternal
        <ul>
		 <li> a.Antarmuka Pengguna Pengguna</li>
			<p>antarmuka pengguna akan berinteraksi dengan sistem melalui antarmuka GUI (Graphical User Interface), dengan piranti input menggunakan keyboard, LCD, scanner input, dan card reader.</p>
		<li> b.Antarmuka Perangkat Keras Interface</li>
		  <p>perangkat keras yang akan digunakan adalah berupa penghubung antara aplikasi dengan infrastruktur  jaringan, yaitu berupa Ethernet card, switch, RJ45, sensor pembaca plat nomor kendaraan, sensor pemantau kendaraan, alat  pembayar otomatis, alat verikasi kartu magnetik.</p>
		 <li>c.Antarmuka Perangkat Lunak Interface</li>
			<p> perangkat lunak yang akan digunakan berhubungan dengan development tool yang akan dipakai yaitu ODBC, Win32 dan API Windows.</p>
      </ul>
      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        
		
      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')