doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Reload

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.emphatic-text(data-backdrop='warnatengah').warnatengah
        h1 Reload
        br
        <ul>
        <li>
        <li>M.Arifin</li>
        <li>Muhammad Shufi</li>
        <li>Sindhu Bairewi</li>
        <li>Weny S Panjaitan</li>
        </ul>
      section.emphatic-text(data-backdrop='warnatengah').warnatengah
        h2 Auto Parking

      section.emphatic-text(data-backdrop='warnatengah').warnatengah
        h2 Pengenalan Auto Parking
        p Salah satu solusi alternatif untuk memudahkan pengemudi memarkirkan kendaraannya
        
      section.emphatic-text(data-backdrop='warnatengah').warnatengah
        h2 Sistem Parkir Otomatis
        p Di samping dapat menghemat tempat, sistem parkir mobil otomatis ini juga dapat mengurangi tingkat kemacetan yang terjadi tentunya sangat berpotensi besar dalam pembuatan sistem parkir otomatis ini

      section.emphatic-text(data-backdrop='warnatengah').warnatengah
        h2 Sistem Parkir Otomatis
        <ul>
        <li>
        <li> a.Smart Parkir System (SPS)</li>
        <li> b.Sistem Manajemen Berbasis Teknologi Jaringan Sensor Nirkabel</li>
        </ul>
      
      section.emphatic-text(data-backdrop='warnatengah').warnatengah
        h2 Kebutuhan Antarmuka Eksternal
        <ul>
        <li>
        <li> a.Antarmuka Pengguna</li>
        <li> b.Antarmuka Perangkat Keras Interface</li>
        <li> c.Antarmuka Perangkat Lunak Interface</li>
        </ul>
      
      section.emphatic-text(data-backdrop='warnatengah').warnatengah
        h2 Any Country That Already Has The Auto Parking ?

      section.emphatic-text(data-backdrop='warnatengah').warnatengah
        h2 The amazing VW Autostadt
        <img src='images/gambar.jpg' height=250>
      
      section.emphatic-text(data-backdrop='warnatengah').warnatengah
        h2 TCardok, secret room car elevator
        <img src='images/gambar1.jpg' height=250>

      section.emphatic-text(data-backdrop='warnatengah').warnatengah
        h2 1930s Automatic Car Park
        <img src='images/gambar2.jpg' height=250>

      section.emphatic-text(data-backdrop='warnatengah').warnatengah
        h2 Dubai Robot car park
        <img src='images/gambar3.jpg' height=250>

      section.emphatic-text(data-backdrop='warnatengah').warnatengah
        h2 Robotic Car Park In Mumbai 
        <img src='images/gambar4.jpg' height=250>

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')